.home-page {
    position: relative;
    width:600px;
    height: 600px;
    box-sizing: border-box;
    margin: 20px auto;

}

.home-page .button {
    margin: 10px;
}

.home-page #canvas-container {
    border  : 1px solid black;
    padding : 10px;
    position: absolute;
    left: 0;
    right: 0;
    width:100%;
    height  : 100%;
    display : block;
    box-sizing: border-box;
    margin-right:10px;
}