#cropper #canvas-container {
    border    : 2px solid black;
    height    : 90vh;
    width     : 90vw;
    margin    : 20px;
    padding   : 20px;
    text-align: center;
    position  : absolute;
}

#cropper canvas {
    border          : 1px solid blue;
    background-color: #ffffff;
    cursor          : default;
    max-width       : 100%;
}

#cropper img {
    max-width: 100%;
}